:root {
   
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 150px;   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: initial;
}


/* ============
    Navigation
============ */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.nav-menu-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1500px;
}

.site-logo {
    padding: 8px 16px 8px 0;
    margin-right: 20px;
}

.site-logo a {
   
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.nav-menu li {
    padding: 8px 10px;
    margin-right: 20px;
}

.nav-menu li a {
    
}

.website-enquiry {
    padding: 0 0 0 16px;
    position: relative;
    display: flex;
    overflow: hidden;
}

.website-enquiry a {
    font-weight: 400;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px; 
    width: 130px; 
    overflow: hidden;
}

.website-enquiry span {
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.website-enquiry .default-text {
    transform: translateY(0);
}

.website-enquiry .hover-text {
    transform: translateY(150%);
}

.website-enquiry a:hover .default-text {
    transform: translateY(-150%);
}

.website-enquiry a:hover .hover-text {
    transform: translateY(0);
}

.website-enquiry a:hover {
    
}

/* ============
    Hero
============ */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.hero h1 {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 5px;
}

.hero h2 {
}

.hero h2, .hero h3 {
    font-size: 4rem;
}

.hero h3 {
    margin: 5px 0 0 4px;
}

.hero p {
    margin-top: 20px;
    max-width: 500px;
}

.hero a {
    margin-top: 50px;
}

.work {
    height: 100vh;
}




/* ============
   Larger Screens
============ */


@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1069px) {}

@media only screen and (min-width: 1440px) and (min-height: 1080px) {}

@media only screen and (min-width: 2201px) and (min-height: 1080px) {}